@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Lobster&family=Marck+Script&family=Satisfy&display=swap");
:root {
  --neutral: hsl(0, 0%, 96%);
  --neutral-dark: hsl(0, 0%, 94%);
  --neutral-darker: hsl(0, 29%, 93%);
  --neutral-dim: hsl(30, 21%, 85%);
  --light-primary: hsla(0, 0%, 100%, 0.905);
  --primary: hsl(120, 100%, 48%);
  --dark-primary: hsl(120, 100%, 38%);
  --darker-primary: hsl(120, 100%, 29%);
  --secondary: hsl(20, 60%, 2%);
}

.container {
  width: min(100% - 2.5rem, 75rem);
  margin-inline: auto;
}

.active__link {
  color: var(--primary);
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: clamp(1.5625rem, 1rem + 2vw, 2.5rem);
}

h2 {
  font-size: clamp(1.375rem, 0.875rem + 1.5vw, 2.25rem);
}

h3 {
  font-size: clamp(1rem, 0.75rem + 1.1vw, 1.5rem);
}

h3 {
  font-size: clamp(0.9375rem, 0.75rem + 0.9vw, 1.125rem);
}

p {
  font-size: 1rem;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--neutral-dark);
  color: var(--secondary);
  line-height: 1.5;
  user-select: none;
  overflow-x: hidden;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  outline: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  color: var(--secondary);
}

a {
  color: inherit;
}

.about {
  margin-top: 3rem;
}
.about__section {
  box-shadow: 0 3px 4px rgba(146, 161, 176, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  padding: 0.625rem;
  overflow: hidden;
}
@media (max-width: 56.24875em) {
  .about__section {
    flex-direction: column-reverse;
  }
}
.about__section--image {
  flex: 1 0 50%;
}
.about__section--img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 0.3125rem;
}
.about__section--text {
  flex: 1 0 45%;
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.625rem 1.25rem;
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.4);
}
.about__section--text-header {
  margin-top: 1rem;
  text-transform: capitalize;
  margin-bottom: 3rem;
  color: var(--primary);
  position: relative;
}
.about__section--text-header::before {
  content: "";
  width: 60%;
  height: 0.375rem;
  background-color: var(--secondary);
  position: absolute;
  top: 100%;
  left: 20%;
  border-radius: 0.625rem;
}
.about__section--text-subh {
  text-transform: capitalize;
  font-weight: 900;
  font-family: inherit;
}
.about__section--text-pt {
  text-align: justify;
  width: 90%;
}
.about__section--text-client {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 2rem;
}
.about__section--text-client span {
  padding: 0 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__section--text-client span p {
  margin: 0;
  padding: 0;
  font-weight: 700;
}
.about__section--text-client span small {
  text-transform: capitalize;
  font-style: italic;
  color: var(--primary);
}
.about__section--text .explore__more {
  margin-bottom: 0.625rem;
}

.cards {
  margin-top: 3rem;
}
.cards__holder {
  box-shadow: 0 3px 4px rgba(146, 161, 176, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 56.24875em) {
  .cards__holder {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem;
  }
}
.cards__container {
  padding: 0.3125rem 0.625rem;
}
.cards__container--image {
  max-width: 350px;
  max-height: 350px;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 22px 4px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 10px 22px 4px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 10px 22px 4px rgba(0, 0, 0, 0.57);
  transition: all 300ms ease-in-out;
  position: relative;
}
.cards__container--image:hover {
  -webkit-box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.43);
}
.cards__container--image:hover .cards__container--text {
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 11.25rem 0;
}
.cards__container--img {
  max-width: 100%;
  min-height: 350px;
  object-fit: cover;
  border-radius: 0.3125rem;
}
.cards__container--text {
  color: var(--neutral-dark);
  text-align: center;
  text-transform: capitalize;
  width: 100%;
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  padding: 1.25rem 0;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -95%);
  transition: all 300ms ease-in-out;
}

.choose {
  margin-top: 3rem;
}
.choose__content {
  box-shadow: 0 3px 4px rgba(146, 161, 176, 0.15);
}
.choose__content--header {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 3rem;
  color: var(--primary);
  position: relative;
}
.choose__content--header::before {
  content: "";
  width: 10%;
  height: 0.375rem;
  background-color: var(--secondary);
  position: absolute;
  top: 100%;
  left: 45%;
  border-radius: 0.625rem;
}
.choose__content--holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  padding: 1.25rem;
  overflow: hidden;
}
@media (max-width: 56.24875em) {
  .choose__content--holder {
    flex-direction: column;
  }
}
.choose__content--text > p {
  text-align: justify;
}
.choose__content--text {
  padding: 1rem;
  flex: 1 0 50%;
  text-align: center;
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.4);
}
.choose__content--text-reason {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 43.7485em) {
  .choose__content--text-reason {
    grid-template-columns: 1fr;
  }
}
.choose__content--text-reason div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}
.choose__content--text-reason img {
  max-width: 100%;
}
.choose__content--text-reason small {
  color: var(--primary);
  margin: 0;
}
.choose__content--text-rason p {
  font-weight: 700;
  margin: 0;
}
.choose__content--image {
  flex: 1 0 50%;
  max-width: 100%;
}
.choose__content--img {
  object-fit: cover;
  border-radius: 0.625rem;
}

.footer {
  min-height: 300px;
  margin-top: 3.5rem;
  padding-bottom: 0.3125rem;
  color: var(--neutral-dark);
  text-align: center;
  background-color: var(--secondary);
}
.footer__content {
  padding: 1.875rem 1.25rem 1.875rem 1.25rem;
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}
@media (max-width: 43.7485em) {
  .footer__content {
    flex-direction: column;
  }
}
.footer__content--adds > span {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin: 0.9375rem 0;
}
.footer__content--adds > * p {
  margin: 0;
}
.footer__content--links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.4375rem;
}
.footer__content--link {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.footer__content--link:hover .awesome {
  color: white;
  transition: all 300ms ease-in-out;
}
.footer__content--socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  flex-direction: column;
}

.copy {
  text-align: center;
  margin-bottom: 0.625rem;
  color: var(--primary);
}

.designed {
  color: var(--neutral-dark);
}

.social {
  font-size: 1.875rem;
}

.social:hover {
  color: var(--primary);
}

.awesome {
  font-size: 1.125rem;
  color: var(--primary);
}

.footer__content--subhead {
  color: var(--primary);
  text-decoration: underline;
  text-align: left;
}

.scrollup {
  position: fixed;
  right: 1.25rem;
  bottom: 8rem;
  background-color: var(--primary);
  box-shadow: 0 0.5rem 0.75rem hsla(228, 66%, 45%, 0.01);
  display: inline-flex;
  padding: 0.35rem;
  border-radius: 0.25rem;
  color: var(--neutral-dark);
  font-size: 1rem;
  z-index: 90;
  transition: 0.3s;
}

.scrollup:hover {
  transform: translateY(-3px);
}

.header__top {
  background-color: var(--secondary);
  padding: 1.125rem 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3.125rem;
  box-shadow: 0 3px 4px rgba(146, 161, 176, 0.15);
  border-bottom-left-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
}
.header__top--socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header__top--social {
  display: inline-block;
  background-color: var(--neutral-dark);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: relative;
  transition: background-color 300ms cubic-bezier(1, 0, 0, 1);
}
.header__top--social:hover {
  background-color: var(--primary-darker);
}
.header__top--icon {
  font-size: 1.5625rem;
  color: var(--primary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__top--soctext {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--neutral-dim);
}
.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  position: relative;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}
.header__bottom--logo-img {
  display: block;
  background-image: url("../assets/icons/logo.JPG");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 12.5rem;
  height: 3rem;
}
@media (max-width: 43.7485em) {
  .header__bottom--logo-img {
    width: 11.875rem;
    height: 2.1875rem;
  }
}
.header__bottom--nav {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 30;
}
@media (max-width: 56.24875em) {
  .header__bottom--nav {
    position: absolute;
    top: 105%;
    right: 100%;
    padding: 0.625rem;
    width: 40%;
    border-radius: 0.3125rem;
    box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    opacity: 0;
    background-color: var(--light-primary);
    transition: all 300ms cubic-bezier(1, 0, 0, 1);
  }
}
.header__bottom--nav.active__nav {
  right: 0;
  opacity: 1;
}
.header__bottom--list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.9375rem;
  margin: 0;
}
@media (max-width: 56.24875em) {
  .header__bottom--list {
    flex-direction: column;
    gap: 1.25rem;
    padding: 0.625rem 0;
  }
}
.header__bottom--item {
  padding: 0.1875rem 0.4375rem;
}
@media (max-width: 56.24875em) {
  .header__bottom--item {
    width: 100%;
    text-align: center;
  }
}
.header__bottom--link:link, .header__bottom--link:visited {
  font-size: 1rem;
  font-weight: 600;
  transform: translateY(-3px);
  transition: all 300ms cubic-bezier(1, 0, 0, 1);
  position: relative;
  text-transform: capitalize;
}
@media (max-width: 56.24875em) {
  .header__bottom--link:link, .header__bottom--link:visited {
    letter-spacing: 0.0625rem;
    display: inline-block;
    width: 100%;
    padding: 0.8125rem 0;
    border-radius: 0.625rem;
    transition: all 300ms cubic-bezier(1, 0, 0, 1);
  }
}
.header__bottom--link:hover, .header__bottom--link:active {
  color: var(--primary);
}
@media (max-width: 56.24875em) {
  .header__bottom--link:hover, .header__bottom--link:active {
    background-color: var(--secondary);
  }
}
.header__bottom--link:hover::before, .header__bottom--link:active::before {
  width: 100%;
}
@media (max-width: 56.24875em) {
  .header__bottom--link:hover::before, .header__bottom--link:active::before {
    width: 0;
  }
}
.header__bottom--link::before {
  content: "";
  width: 0;
  height: 0.1875rem;
  background-color: var(--secondary);
  position: absolute;
  bottom: -10%;
  left: 0;
  transition: all 300ms cubic-bezier(1, 0, 0, 1);
}
.header__bottom--hamburger {
  display: none;
  padding: 0.3125rem;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 2%;
}
@media (max-width: 56.24875em) {
  .header__bottom--hamburger {
    display: block;
    z-index: 50;
  }
}
.header__bottom--hamburger .bar {
  display: block;
  width: 2.125rem;
  height: 0.1875rem;
  background-color: var(--secondary);
  transition: all 300ms ease-in;
  margin: 0.4375rem 0;
}
.header__bottom--hamburger.active__bar > .bar:nth-child(1) {
  transform: rotate(-45deg) translateY(14px);
  background-color: var(--primary);
}
.header__bottom--hamburger.active__bar > .bar:nth-child(2) {
  transform: translateX(5rem);
  opacity: 0;
}
.header__bottom--hamburger.active__bar > .bar:nth-child(3) {
  transform: rotate(45deg) translateY(-14px);
  background-color: var(--primary);
}

.courasel {
  margin-top: 2.5rem;
}
.courasel__slider {
  display: flex;
  gap: 1rem;
  overflow: hidden;
  max-width: 900px;
  max-height: 450px;
  margin-inline: auto;
  position: relative;
}
@media (max-width: 56.24875em) {
  .courasel__slider {
    gap: 0.625rem;
    max-width: 100%;
  }
}
.courasel__slider .btn__prev, .courasel__slider .btn__next {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  top: 94%;
  transition: all 300ms ease-in-out;
}
.courasel__slider .btn__prev {
  left: 35%;
}
.courasel__slider .btn__next {
  left: 58%;
}
.courasel__slider .btn__prev:hover, .courasel__slider .btn__next:hover {
  background-color: var(--neutral-darker);
}
.courasel__slider--item {
  min-width: 100%;
  position: relative;
}
.courasel__slider--item::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.625rem;
}
.courasel__slider--img {
  min-width: 100%;
  max-height: 450px;
  object-fit: cover;
  border-radius: 0.625rem;
}
.courasel__slider--text {
  width: 80%;
  padding: 0.625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--neutral-dark);
}
.courasel__slider--h1 {
  text-transform: capitalize;
  font-family: "Lobster", sans-serif;
  margin-bottom: 0.625rem;
}
.courasel__slider--h3 {
  line-height: inherit;
  margin-bottom: 1.875rem;
}
.courasel__slider--btn:link, .courasel__slider--btn:visited {
  text-transform: capitalize;
  background-color: var(--primary);
  display: inline-block;
  padding: 0.625rem 1rem;
  border-radius: 6.25rem;
  font-weight: 600;
  transition: all 300ms ease-in;
}
.courasel__slider--btn:hover {
  background-color: var(--neutral-dark);
  color: var(--secondary);
  transform: translateY(-3px);
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
}
.courasel__slider--btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
}

.team {
  margin-top: 3rem;
}
.team__content {
  box-shadow: 0 3px 4px rgba(146, 161, 176, 0.15);
  padding-bottom: 3rem;
}
.team__content--header {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 3rem;
  color: var(--primary);
  position: relative;
}
.team__content--header::before {
  content: "";
  width: 10%;
  height: 0.375rem;
  background-color: var(--secondary);
  position: absolute;
  top: 100%;
  left: 45%;
  border-radius: 0.625rem;
}
.team__content > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.875rem;
}
@media (max-width: 43.7485em) {
  .team__content > div {
    flex-direction: column-reverse;
  }
}
.team__card {
  background-color: var(--secondary);
  padding: 1.25rem;
  width: 300px;
  border-radius: 50%;
  text-align: center;
}
.team__card--image {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.team__card--image::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  background-position: center;
  transition: all 300ms ease-in;
}
.team__card--image:hover::before {
  width: 100%;
}
.team__card--image:hover .team__card--name {
  left: 50%;
}
.team__card--img {
  max-width: 100%;
  object-fit: cover;
}
.team__card--name {
  color: var(--neutral-dark);
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  padding: 1.25rem;
  font-size: 1rem;
  transition: all 300ms ease-in-out;
}
.team__card--role {
  display: inline-block;
  margin-top: 1.25rem;
  color: var(--primary);
}

.testimonial {
  margin-top: 3rem;
}
.testimonial__content {
  padding-bottom: 1.25rem;
  box-shadow: 0 3px 4px rgba(146, 161, 176, 0.15);
}
.testimonial__content--header {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 3rem;
  color: var(--primary);
  position: relative;
}
.testimonial__content--header::before {
  content: "";
  width: 10%;
  height: 0.375rem;
  background-color: var(--secondary);
  position: absolute;
  top: 100%;
  left: 45%;
  border-radius: 0.625rem;
}
.testimonial__content--container {
  max-width: 43.75rem;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.testimonial__content--image {
  max-width: 12.5rem;
  max-height: 12.5rem;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.testimonial__content--img {
  width: 100%;
  object-fit: cover;
}
.testimonial__content--name {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
  padding: 0.3125rem 0.625rem;
  width: 100%;
  text-align: center;
  color: var(--neutral-dark);
}
.testimonial__content--p {
  font-size: 1.125rem;
  font-family: "Marck Script", cursive;
  margin-top: 1.25rem;
  text-align: center;
}
.testimonial__content .pBtn, .testimonial__content .nBtn {
  position: absolute;
  top: 30%;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.testimonial__content .pBtn:hover, .testimonial__content .nBtn:hover {
  color: var(--primary);
}
.testimonial__content .pBtn {
  left: 10%;
}
.testimonial__content .nBtn {
  right: 10%;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  transition: all 400ms ease-in-out;
}

.modal.active__modal {
  display: block;
  opacity: 1;
}
